@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@1,900&display=swap');
body{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

}


:root{
    --offwhite: hsl(0, 0%, 94%)
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    
}

.age-calculator-form{
display: flex;
flex-direction: column;
gap: 0;
}

.age-calculator{
    background-color: white;
    width: 25rem;
    padding: 1.5rem;
    margin: 3rem 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30%;
}
.date-form{
    display: flex;
    justify-content: flex-start;
    gap: 0.7rem;
}
.box{
    display: flex;
    flex-direction: column;
    width: 5rem;
    gap: 0.5rem;
}

label{
    color: darkgray;
    font-weight: bold;
    font-size: 0.7rem;
}
.box > input{
    height: 1.5rem;
    border-radius: 5px;
    border: 0.2px solid lightgray;
    width: 85%;
    font-size: large;
    font-weight: bold;
    color: black;
    padding: 0.5rem;
}

.box > input:focus{
    outline: 2px solid hsl(259, 100%, 65%);
}

.arrow-btn:hover{
background-color: black;
z-index: 200;
}

html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: var(--offwhite);
    
}

.line{
    width: 100%;
    background-color: lightgray;
    height: 0.2px;
    position: relative;
    top: 50%;
}


.arrow-btn{
    background-color: hsl(259, 100%, 65%);
    margin: 0 auto;
    margin-bottom: -15px;
    width: 25px;
    height: 25px;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
}

.btn{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 3rem;

}
.arrow-btn > img{
    object-fit: contain;
    width: 15px;
    
}

.down-header{
    color: hsl(259, 100%, 65%);
    font-size: 2.5rem;
    font-weight: 700;
}

.age{
    color: black;
}

.error-msg{
    font-size: 0.6rem;
    color: red;
}

.not-show{
    display: none;
}
@media screen and (max-width: 376px)
{
    body{
        align-items: flex-start;
    }
    .date-form{
        justify-content: flex-start;
        gap: 1rem;
    }
    
    .btn{
       display: block; 

    }
    .box > input{
        height: 1.5rem;
        border: 1px solid lightgray;
    }

    .arrow-btn{
        position: static;
        background-color: hsl(259, 100%, 65%);
        margin: 0 auto;
        margin-bottom: -15px;
        width: 20px;
        height: 20px;
        padding: 0.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50%;
        z-index: 101;
        
    }
    .age-calculator-down{
        margin-top: 2rem;
    }
}